{% load staticfiles %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133371395-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133371395-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="7e29e2d7f863eccd938d69a2ada475fcecc246e7"/>
    <meta name="google-site-verification" content="3XyG-LK4qVgrVupll8SNahW9L4CHtQ2wLsUo9VbCXhw" />
    <meta name="description" content="코딩 웨일의 블로그. 드넓은 바다를 유영하고픈 개발자입니다.">

    <title>코딩웨일</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/default.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'nwagon/Nwagon.css' %}" type="text/css">
    <script src="{% static 'nwagon/Nwagon.js' %}"></script>
</head>
<section id="head">

    <div id="logo">
        <!--<img id="full-logo" src="{% static 'img/Full-Logo.png' %}">-->
    </div>
</section>
<body>