{% load staticfiles %}
{% include 'main/header.html' %}

<section id="indexsection">
    <div id="topback">
        <div id="topmenu">
            <ul>
                <li class="top"><a href="http://www.orcinus.kr">Blog</a></li>
                <li class="top"><a href="#intro">About Me</a></li>
                <li class="top"><a href="#career">Career</a></li>
                <li class="top"><a href="#skills">Skills</a></li>
                <li class="top"><a href="#portfolio">Portfolio</a></li>

            </ul>
        </div>
    </div>


    <div id="content">
        <div class="indexcontent" id="intro">
            <div class="content">
                <h1 class="indexh1">
                    About Me
                </h1>
                <ul>
                    <li  id="profilepic">
                        <img src="{{aboutme.img.url}}" style="height:500px;">
                    </li>
                    <li id="introduce">
                        {{aboutme.text}}
                    </li>
                </ul>
            </div>
        </div>
        <br><br><br>
        <div class="indexcontent" id="career">
            <div class="content">
                <h1 class="indexh1">
                    Career
                </h1>
                <div id="career_div">

                    {% for key, value in career_dict.items %}
                    <div class="career_object">
                        <div class="year_div">
                            <span>{{key}}</span>
                        </div>
                        <div class="month_div">
                            {% for key2, value2 in value.items %}
                            <span class="month_span">{{key2}}월</span>
                            {% for history in value2 %}
                            <span class="text_span">{{history.text}}</span>
                            <br>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    {% endfor %}

                </div>
            </div>


        </div>
        <br><br><br>
        <div class="indexcontent" id="skills">
            <div class="content">
                <h1 class="indexh1">
                    Skills
                </h1>
                <div id="chart_container">
                <canvas id="skill_chart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="indexcontent" id="portfolio">
            <div class="content">
                <h1 class="indexh1">
                    Portfolio
                </h1>
                <ul>
                    {% for object in repository_list %}
                    <li>
                        <div class="repository_list" id="{{object.id}}">
                            <span class="repository_title">{{object.title}}</span>
                            <span class="repository_comment">{{object.comment}}</span>
                            <span class="repository_link">&#10095;</span>
                            <!--                            <span class="repository_icon" style="font-size:40px; color:gray;"><i class="fas fa-terminal"></i></span>-->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <script>
    $('.repository_list').click(function(){
        location.href = '/repository/' + $(this).attr('id');
    });

var ctx = $('#skill_chart');

new Chart(ctx,{
    "type":"radar",
    "data": {
            "labels":[
            {% for object in skills %}
            "{{object.title}}",
            {% endfor %}
            ],
            "datasets":[{
                    "label":"Skills",
                    "data":[
            {% for object in skills %}
            "{{object.point}}",
            {% endfor %}
                    ],
                    "fill":true,
                    "backgroundColor":"rgba(54, 162, 235, 0.2)",
                    "borderColor":"rgb(54, 162, 235)",
                    "pointBackgroundColor":"rgb(54, 162, 235)",
                    "pointBorderColor":"#fff",
                    "pointHoverBackgroundColor":"#fff",
                    "pointHoverBorderColor":"rgb(54, 162, 235)"}]
                },
    "options":{
        "elements":{
            "line":{
                "tension":0,
                "borderWidth":3
            }
        },

      "scale": {
        "ticks": {
            "beginAtZero": true,
            "max": 100,
            "min": 0,
            "stepSize": 20
        },
        "pointLabels": { "fontSize":16 }
      },

        "legend": {
            "display": false,
            "labels": {
                "fontSize": 20,
            }
        },
    }
});


</script>
</section>

{% include 'main/footer.html' %}