{% load staticfiles %}
{% include 'main/header.html' %}



{% if user.is_active %}
<script>history.back(-1);</script>
{% else %}
<div id="sub_contents">
    <div class="login_box">
        <div id="logo">
            <a href="/"><span></span></a>
        </div>
        <div id="login_div">


            {% if form.errors %}
            <!-- 에러발생시 -->
            <p>ID나 비밀번호가 일치하지 않습니다.</p>
            {% else %}
            <p style="color:white; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;">blank</p>
            {% endif %}

            <form method="post" action="">
                    {% csrf_token %}
                    <div>
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    <!--<input type="submit" value="로그인" />-->
                    <button class="btn btn-default" id="login" type="submit" value="로그인"><span>로그인</span></button>
                    <button class="btn btn-default" id="signup" type="button"><span>가입</span></button>

            </form>
        </div>


        </div>
    </div>

<script>


    $('#mobile_menu_button, #menu_button').hide();
    $('body').addClass('login');

    $('#id_username').addClass('form-control');
    $('#id_username').attr("placeholder", "아이디");

    $('#id_password').addClass('form-control');
    $('#id_password').attr("placeholder", "비밀번호");

    $('#signup').click(function(){
        location.href = "{% url 'signup' %}"
    });

</script>
{% include 'main/footer.html' %}

{% endif %}

